@model IEnumerable<Jogo.Models.Nacionalidade>

@{
    ViewData["Title"] = "Nacionalidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nacionalidades Cadastradas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nova Nacionalidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NacionalidadeId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.NacionalidadeId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.NacionalidadeId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
